# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server (Preview) and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:password@localhost:3306/dbname"

ACCESS_TOKEN_SECRET=b2cfa5e6f2981e72dabea479e7f46d481995a81106aef381f550eb27dcb8d2cfcd90e117363c08c7545fd12843d045de704da61f68a278fa036ef2673ab5f64d
REFRESH_TOKEN_SECRET=3bc968e2ba6ad1215d4c63d46d1bf7d513a58b256c7600d8db3ea8156d9a9d1ac25b2241e322e446f529a22fd46bdcce7b21bd3a895d43b3164574970a3fc9fa